*
{
    margin: 0;
}
body
{
    font-family: Arial;
    background: url('./background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    color: white;
}
#container
{
    margin: 25px;
    /* height: 1200px */
}
#header
{
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
#nav
{
    height: 40px;
    background: rgba(128, 128, 128, 0.219);
    align-content: center;
}
#nav a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid transparent;
}
ul li:hover
{
    background: rgba(165, 161, 161, 0.589);
    border: 1px solid white;
}
.active
{
    background: rgba(165, 161, 161, 0.589);
    border: 1px solid white;
}
#nav li
{
    list-style: none;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    align-content: center;
}
#nav ul
{
    height: 40px;
    padding: 0;
}
#main
{
    width: 50%;
    float: left;
    padding-top: 25px;
    padding-left: 25px;

}
#main p
{
    font-size: 1.5rem;
    padding-top: 20px;
}
#main h1
{
    margin-top: 20px;
    font-size: 2rem;
    color: #dcc8f0;
    margin-bottom: 20px;
}
#sidebar
{
    float: right;
    width: 40%;
    height: 400px;
    margin-top: 20px;
    background: linear-gradient(rgba(85, 85, 102, 0.808),rgba(0, 0, 0, 0.658),rgba(255, 0, 0, 0.281));
    padding: 20px;
}
#clear
{
    height: 0;
    clear: both;
}
#footer
{
    height: 50px;
    align-content: center;
    text-align: center;
    background: rgba(128, 128, 128, 0.219);
    font-size: 25px;
}
#post-container
{
    padding: 25px;
}
#post
{
    padding: 20px;
    border: #dcc8f0 solid 3px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
#post h3
{
    border-radius: 20px;
    text-align: center;
}
#post p
{
    margin: 20px;
}
#post a
{
    text-decoration: none;
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
    border: 1px solid transparent;
}
#post a:hover
{
    border: 1px solid white;
    background: rgba(3, 3, 131, 0.418);
}

#main-1 h1
{
    margin-top: 20px;
    padding-left: 25px;
}
#text-box
{
    width: 400px;
    height: 200px;
}
form
{
    font-size: 1rem;
    font-weight: 600;
}
#btn
{
    text-decoration: none;
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
}
#btn:hover
{
    background: rgb(4, 98, 221);
    border: 1px solid white;
}

